.nav-heading {
    font-family: 'Butterfly Kids', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
}

.login-form {
    background-color: #FFE5A1;
}

.login-form .fa-user,
.login-form .fa-lock {
    background-color: #585858;
    color: #d9d9d9;
}

.login-btn {
    background-color: white;
}