:root {
  --yellow: #FFE5A1;
}

* {
  margin: 0;
  padding: 0;
}

.fs-butterfly {
  font-family: 'Butterfly Kids', cursive;
  font-style: normal;
  font-weight: 400;
}

.bg-yellow {
  background-color: var(--yellow);
}